

.active {
  color: black !important;
  padding: 10px;
  font-weight: 600;

}
.fav{
  position: relative;
}
.fav span{
position: absolute;
top: -5px;;
right:  -15px;
width: 1.5rem;
height: 1.5rem;
color: aliceblue;
background-color: red;
border-radius: 50% 10px 50% 0;
display: flex;
justify-content: center;


}